<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=2.5">
    <title>Вход</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'register.css' %}">
</head>

<body>
    <div class="navigation">
        <a class="navlink" href="/profile">Профиль</a>
        <a href="/" class="logo" title="logo">
            <img src="https://imgur.com/WHY5bWR.png" alt="Logo" width="277" height="48">
        </a>
        <a class="navlink" href="/admin">Админка</a>
    </div>
    <div class="container">
        <h2>Вход</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" id="username" name="username" required placeholder="Введите имя пользователя или электронную почту">
            </div>
            <div class="form-group">
                <input type="password" id="password" name="password" required placeholder="Введите пароль">
            </div>
            <button type="submit" class="login-btn">Войти</button>
        </form>
    </div>
</body>
</html>
