{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">

<div class="navigation">
    <h1><span style="color: #05016a">Нет</span>Магазин</h1>
</div>

<div class="paymentCard">
    <h2>Товар: {{ product.name }}</h2>
    <img class="productImage" src="{{ product.image_url }}">
    <h2>К оплате: {{ product.price }} рублей</h2>
    <div class="vspace"></div>
    <h3>Теперь вы готовы купить:</h3>

    <div class="vspace"></div>
    <form class="paymentForm" method="post">
        {% csrf_token %}

        <label for="address">Адрес доставки:</label>
        <br>
        <input type="text" name="address" id="address" required>
        <br>
        <br>
        <label for="phone">Как нам связаться с Вами? </label>
        <br>

        <input type="text" name="phone" id="phone" required>


        <div class="vspace"></div>
        <button class="paymentButton" type="submit">Оплатить!</button>
    </form>
</div>

<script>
function copyPhone() {
    navigator.clipboard.writeText('+78005553535');
}
</script>
