{% autoescape on %}
{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'product.css' %}">
    <title>НеАтМагазин</title>
</head>
<body>
    <nav class="navigation">
        <h1><span class="highlight">НеАт</span>Магазин</h1>
        <a class="navlink" href="/">Главная</a>
        <a class="navlink" href="/products">Товары</a>
        <a class="navlink" href="/aboutus">О нас</a>
    </nav>
    <div class="container">
        <div class="product-details">
            <a href="/product/{{ product.id }}">
                <img class="product-image" src="{{ product.image_url }}" alt="{{ product.name }}">
            </a>
            <div class="product-title">
                <h1>{{ product.name }}</h1>
                <div class="product-price">
                    <h3>{{ product.price }} ₽</h3>
                    <a href="/payment/{{ product.id }}">
                        <button class="buy-button">Купить</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="product-description">
            <h2>Характеристики:</h2>
            {% if product.speed %}
                <p>Скорость: {{ product.speed }} км/ч</p>
            {% endif %}
            {% if product.ram %}
                <p>Размер оперативной памяти: {{ product.ram }} ГБ</p>
            {% endif %}
        </div>
        <div class="product-description">
            <h2>Описание:</h2>
            <p>{{ product.description }}</p>
        </div>
        <div class="product-description">
            <h2>Отзывы:</h2>
            {% for review in reviews %}
            <div class="review">
                <h3>{{ review.author }}</h3>
                <h3>Оценка:
                    {% if review.rating == 0 %}
                    <span class="negative-rating">отрицательная</span>
                    {% else %}
                    <span class="positive-rating">положительная</span>
                    {% endif %}
                </h3>
                <h3>Срок использования: {{ review.usage_duration }} месяцев</h3>
                <p>{{ review.text }}</p>
            </div>
            {% endfor %}
            <form class="create-review" method="post">
                {% csrf_token %}
                <label for="author">Автор:</label>
                <input name="author">
                <label for="rating">Оценка:</label>
                <select name="rating">
                    <option value="0">Отрицательная</option>
                    <option value="1">Положительная</option>
                </select>
                <label for="duration">Срок использования (в месяцах):</label>
                <input name="duration">
                <label for="review">Текст отзыва:</label>
                <textarea name="review"></textarea>
                <button class="publish-button">Опубликовать</button>
            </form>
        </div>
    </div>
</body>
</html>
{% endautoescape %}
