
.container {
    background-color: rgba(26, 26, 26, 0.8);
    padding: 30px;
    padding: 15px;
}


form {
    display: flex;
    flex-direction: column;
}

form p {
    margin-bottom: 15px;
}

button {
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

.form-group {
    margin-bottom: 10px;
}
