{% extends 'adminapp/base.html' %}
{% load static %}


{% block content %}
<div class="product_delete">
    Уверены, что хотите удалить продукт <strong>{{ object.name }}</strong>?
    <form action="{% url 'admin:product_delete' object.pk %}" method="post">
        {% csrf_token %}
        <input class="btn btn-danger" type="submit" value="удалить">
        <a href="{% url 'admin:product_read' object.category.pk %}" class="btn btn-success " role="button">
            отмена
        </a>
    </form>
    
</div>
{% endblock %}