<div class="links clearfix">
    <ul class="links-menu">
        <li><a href="{% url 'products:all' %}"
            class="{% if request.resolver_match.view_name == 'products:all' %} active {% endif %}"
        >все</a></li>
        {% for category in categories %}
            {% if category.is_active %}
        <li><a href="{% url 'products:category' category.id %}"
             class="{% if request.resolver_match.view_name == 'products:category' and request.resolver_match.kwargs.category_id == category.id %}" 
              active
              {% endif%}"
              > {{ category.name }}</a></li>
              {% endif %}
        {% endfor %}
    </ul>
</div>